body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.contacte {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    gap: 120px;
    position: relative;
    background-color: var(--bg-color);
  }
  
  .contacte .hero-section {
    position: relative;
    left: -186px;
    width: 1600px;
    height: 492px;
    background-color: var(--bg-color);
  }
  
  .contacte .text-wrapper {
    color: var(--paragraph-color);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .contacte .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    color: #000000;
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .contacte .text-wrapper-2 {
    color: var(--h1-color);
    text-decoration: underline;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .contacte .frame {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 1117px;
  }
  
  .contacte .text-wrapper-3 {
    position: relative;
    width: 49px;
    margin-top: -0.5px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contacte .asocia-ia-interna {
    position: relative;
    width: 80px;
    height: 59px;
    margin-top: -1px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: var(--h1-color);
    font-size: 8px;
    letter-spacing: 0.72px;
    line-height: 8px;
  }
  
  .contacte .contacteaz-asocia-ia {
    width: 715px;
    height: 120px;
    top: 146px;
    left: 204px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    line-height: var(--h-2-line-height);
    position: absolute;
    letter-spacing: var(--h-2-letter-spacing);
    font-style: var(--h-2-font-style);
  }
  
  .contacte .contact {
    position: absolute;
    width: 1192px;
    height: 135px;
    top: 357px;
    left: 204px;
  }
  
  .contacte .frame-2 {
    display: flex;
    width: 376px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tel{
    position: relative;
    top: -16px;
    width: 40px;
    height: 40px;
  }
  
  .contacte .img {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .p {
    color: #3265B3;
    font-size: 30px;
    line-height: 45px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }

  a{
    text-decoration: none;
  }
  
  .contacte .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 353px;
  }
  
  .contacte .text-wrapper-4 {
    width: 320px;
    color: var(--h1-color);
    font-size: 28px;
    line-height: 42px;
    position: relative;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .contacte .frame-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 816px;
  }
  
  .contacte .text-wrapper-5 {
    position: relative;
    width: 320px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: var(--h1-color);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 45px;
  }
  
  .contacte .overlap-wrapper {
    position: relative;
    width: 1600px;
    height: 614px;
  }
  
  .contacte .overlap {
    height: 613px;
    background-image: url(./img/rectangle-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .contacte .overlap-group-wrapper {
    position: relative;
    width: 1192px;
    height: 433px;
    top: 90px;
    left: 204px;
  }
  
  .contacte .overlap-group {
    position: relative;
    left: -186px;
    height: 433px;
  }
  
  .contacte .rectangle {
    position: absolute;
    width: 1192px;
    height: 400px;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    border-radius: 0px 80px 80px 80px;
  }
  
  .contacte .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
  }
  
  .contacte .newsletter-homepage {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: absolute;
    top: 0;
    left: 646px;
  }
  
  .contacte .text-wrapper-7 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-font-style);
  }
  
  .contacte .text-wrapper-8 {
    color: #818893;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-font-style);
  }
  
  .contacte .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .contacte .frame-8 {
    display: flex;
    width: 300px;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .contacte .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: absolute;
    top: 121px;
    left: 0;
  }
  
  .contacte .frame-10 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 390px 16px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .contacte .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: absolute;
    top: 0;
    left: 323px;
  }
  
  .contacte .trimite-i-un-mesaj {
    position: absolute;
    height: 30px;
    top: 35px;
    left: 496px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--paragraph-color);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .contacte .frame-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .contacte .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .contacte .text-wrapper-12 {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .contacte .frame-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .contacte .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contacte .text-wrapper-13 {
    position: relative;
    width: 93px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .contacte .contact-2 {
    position: absolute;
    width: 281px;
    height: 193px;
    top: 0;
    left: 510px;
  }
  
  .contacte .text-wrapper-14 {
    width: fit-content;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .contacte .frame-15 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contacte .text-wrapper-15 {
    position: relative;
    width: 241px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .contacte .text-wrapper-16 {
    position: absolute;
    width: 204px;
    top: 105px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .contacte .asocia-ia-interna-2 {
    position: relative;
    width: 125px;
    height: 38px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1.33px;
    line-height: 12px;
  }
  
  .contacte .line {
    position: absolute;
    width: 1192px;
    height: 1px;
    top: 377px;
    left: 204px;
    object-fit: cover;
  }
  
  /*Header*/
  .top {
    position: relative;
    width: 1600px;
    height: 713px;
    background-color: var(--bg-color);
  }
  
  .meniu {
    position: absolute;
    width: 1192px;
    height: 57px;
    top: 40px;
    left: 200px;
  }
  
  .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 17px;
    left: 288px;
  }
  
  .active {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #3265b3;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    } 

    .active a{text-decoration: underline;
      } 
  
    .static a{
      position: relative;
      padding: 8px;
      text-decoration: none;
      width: fit-content;
      margin-top: -1px;
      font-family: var(--meniu-text-font-family);
      font-weight: var(--meniu-text-font-weight);
      color: #000000;
      font-size: var(--meniu-text-font-size);
      letter-spacing: var(--meniu-text-letter-spacing);
      line-height: var(--meniu-text-line-height);
      white-space: nowrap;
      font-style: var(--meniu-text-font-style);
      text-decoration: none;
    }
  
    .static :hover{
      background-color: #5986c9;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    .frame-1 {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      position: absolute;
      top: 19px;
      left: 1117px;
    }
  
    .login{
      position: relative;
      width: 49px;
      margin-top: -0.5px;
      font-family: "Raleway-Medium", Helvetica;
      font-weight: 500;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }
  
    .loginfoto {
      position: relative;
      width: 20px;
      height: 20px;
    }
  
    .search {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 17px;
      left: 1069px;
    }
    
    .logo {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .logoait {
      position: relative;
      width: 46px;
      height: 55px;
      object-fit: cover;
    }
  
    .asociatia-internationala {
      position: relative;
      width: 80px;
      height: 59px;
      top: 18px;
      margin-top: -1px;
      font-family: "League Spartan-Bold", Helvetica;
      font-weight: 700;
      color: var(--h1-color);
      font-size: 8px;
      letter-spacing: 0.72px;
      line-height: 8px;
    }

    /*Newsletter*/
    .newsletter-footer {
      position: relative;
      width: 1600px;
      height: 1204px;
    }
    
    .overlap-4 {
      position: relative;
      height: 1204px;
    }
    
    .newsletter {
      position: absolute;
      z-index: 1;
      width: 1600px;
      height: 633px;
      top: 0px;
      left: 0px;
    }

    .overlap-5 {
      position: relative;
      height: 633px;
    }

    .rectangle-5 {
      position: absolute;
      width: 1600px;
      height: 400px;
      top: 0;
      left: -187px;
      object-fit: cover;
    }

    .div-wrapper {
      position: relative;
      width: 900px;
      height: 433px;
      top: 200px;
      left: 140px;
    }

    .overlap-group-6 {
      position: relative;
      left: 0px;
      top: 0;
      height: 433px;
    }

    .rectangle-6 {
      position: absolute;
      width: 900px;
      height: 400px;
      top: 0;
      left: 0;
      background-color: var(--bg-color);
      border-radius: 0px 80px 80px 80px;
    }

    .titluformbox {
      position: absolute;
      width: 325px;
      height: 38px;
      top: 31px;
      left: 288px;
      font-family: "Raleway-SemiBold", Helvetica;
      font-weight: 600;
      color: var(--paragraph-color);
      font-size: 25px;
      letter-spacing: 0;
      line-height: 37.5px;
    }

    .textform {
      margin-top: -1px;
      color: #818893;
      position: relative;
      left: 143px;
      top: 107px;
      width: 298px;
      height: 59px;
      border: #000000;
      border: 1px solid;
      border-radius: 20px 20px 0px 0px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }
  
    .textform-1 {
      margin-top: -1px;
      color: #818893;
      position: relative;
      left: 462px;
      top: -12px;
      width: 298px;
      height: 59px;
      border: #000000;
      border: 1px solid;
      border-radius: 20px 20px 0px 0px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }
  
    .textform-2 {
      margin-top: -1px;
      color: #818893;
      position: relative;
      left: 143px;
      top: -15px;
      width: 617px;
      height: 59px;
      border: #000000;
      border: 1px solid;
      border-radius: 20px 20px 0px 0px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }

    .titluform{
      margin-top: -1px;
      color: #000000;
      position: relative;
      left: 144px;
      top: 125px;
      width: 298px;
      height: 59px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }
  
    .titluform-1{
      margin-top: -1px;
      color: #000000;
      position: relative;
      left: 463px;
      top: 9px;
      width: 298px;
      height: 59px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }
  
    .titluform-2{
      margin-top: -1px;
      color: #000000;
      position: relative;
      left: 144px;
      top: 6px;
      width: 298px;
      height: 59px;
      font-family: var(--paragraph-font-family);
      font-weight: var(--paragraph-font-weight);
      font-size: var(--paragraph-font-size);
      letter-spacing: var(--paragraph-letter-spacing);
      line-height: var(--paragraph-line-height);
      white-space: nowrap;
      font-style: var(--paragraph-font-style);
    }
    
    .titluformbox {
      position: absolute;
      width: 325px;
      height: 38px;
      top: 31px;
      left: 288px;
      font-family: "Raleway-SemiBold", Helvetica;
      font-weight: 600;
      color: var(--paragraph-color);
      font-size: 25px;
      letter-spacing: 0;
      line-height: 37.5px;
    }

    .frame-5 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 16px 40px;
      position: absolute;
      top: 368px;
      left: 356px;
      background-color: var(--button-coloraccent);
      border-radius: 0px 16px 16px 16px;
    }

    
  .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
  }

  .solar-arrow-up {
    position: relative;
    width: 28px;
    height: 28px;
  }

  /*Footer*/
.footer {
  position: relative;
  width: 1600px;
  height: 526px;
  top: -382px;
  left: -195px;
}

.final{
  position: absolute;
  top: 972px;
  left: 0px;
  height: 900px;
  width: 1225px;
  background-color: #3265B3;
}

.footer-2 {
  position: absolute;
  width: 1097px;
  height: 310px;
  top: 450px;
  left: 204px;
}

.footer-text {
  position: absolute;
  width: 791px;
  height: 310px;
  top: 0;
  left: 306px;
}

.navigare {
  width: 110px;
  height: 310px;
  top: 0;
  position: absolute;
  left: 0;
}

.titlufooter {
  height: 30px;
  top: -1px;
  font-family: var(--footer-name-font-family);
  font-weight: var(--footer-name-font-weight);
  color: #ffffff;
  font-size: var(--footer-name-font-size);
  letter-spacing: var(--footer-name-letter-spacing);
  line-height: var(--footer-name-line-height);
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: var(--footer-name-font-style);
}

.framenavigare a{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  top: 50px;
  left: 0;

  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
  margin: 5px;
}

.urmrete {
  position: absolute;
  width: 247px;
  height: 218px;
  top: 0;
  left: 205px;
}

.framefollow{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
  left: 0;
}

.img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-6 a{
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  position: relative;
  left: 40px;
  top: -30px;
  width: 93px;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.framecontact{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50px;
  left: 0;

  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
}



.img-3 {
  position: relative;
  left: -2px;
  width: 24px;
  height: 24px;
}

.contactele {
  position: absolute;
  width: 281px;
  height: 193px;
  top: 0;
  left: 510px;
}

.textfootercontact {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.logo-slogan {
  width: 204px;
  height: 154px;
  position: absolute;
  top: 0;
  left: 0;
}

.text-wrapper-9 {
  position: absolute;
  width: 204px;
  top: 105px;
  left: 0;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: var(--bg-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.logo-2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.logoait-2 {
  position: relative;
  width: 74px;
  height: 88.01px;
  object-fit: cover;
}

.asocia-ia-interna-3 {
  width: 125px;
  height: 38px;
  font-family: "League Spartan-Bold", Helvetica;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.33px;
  line-height: 12px;
  position: relative;
  font-weight: 700;
}

.line-3 {
  width: 1192px;
  height: 1px;
  background-color: #FFFFFF;
  position: relative;
  top: 807px;
  left: 203px;
}

.toate-drepturile {
  position: absolute;
  height: 21px;
  top: 839px;
  left: 563px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.harta{
  position: absolute;
  left: 0px;
  top: 145px;
}