body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


  .dnd{
    width: 1230px;
    height: 563px;
    background-color: #E3EFFE;
  }

  .dnts{
    border-top: 281.5px solid transparent;
	  border-left: 207.26px solid #ffffff;
	  border-bottom: 281.5px solid transparent;
    position: relative;
    top: -563px;
  }


  .dntd{
    border-top: 281.5px solid transparent;
	 border-right: 207.26px solid #ffffff;
	 border-bottom: 281.5px solid transparent;
    position: relative;
    right: -35px;
    top: -1126px;
  }



  

.despre-noi {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    gap: 120px;
    position: relative;
    background-color: #ffffff;
  }
  
  .despre-noi .hero-section {
    position: relative;
    width: 1230px;
    height: 695px;
    overflow: hidden;
  }
  
  .despre-noi .overlap-group {
    position: absolute;
    width: 1190px;
    height: 563px;
    top: 132px;
    left: 0;
    background-image: url(./img/subtract.svg);
    background-size: 100% 100%;
  }
  
  .despre-noi .logoait-1 {
    position: absolute;
    width: 375px;
    height: 446px;
    top: 58px;
    left: 816px;
    object-fit: cover;
  }
  
  .despre-noi .despre-asocia-ia {
    position: absolute;
    width: 624px;
    height: 120px;
    top: 39px;
    left: 171px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .despre-noi .text-wrapper {
    position: absolute;
    width: 440px;
    height: 243px;
    top: 239px;
    left: 236px;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    color: var(--paragraph-color);
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    font-style: var(--paragraph-font-style);
  }
  
  
  
  .despre-noi .div {
    color: var(--paragraph-color);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .despre-noi .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--h1-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .despre-noi .text-wrapper-3 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .despre-noi .frame {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 1117px;
  }
  
  .despre-noi .text-wrapper-4 {
    position: relative;
    width: 49px;
    margin-top: -0.5px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  
  
  
  .despre-noi .img {
    width: 45.5px;
    height: 55px;
    position: relative;
    object-fit: cover;
  }
  
  .despre-noi .asocia-ia-interna {
    position: relative;
    width: 80px;
    height: 59px;
    top: 18px;
    margin-top: -1px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: var(--h1-color);
    font-size: 8px;
    letter-spacing: 0.72px;
    line-height: 8px;
  }
  
  .despre-noi .galeria-ait {
    position: relative;
    width: 1194px;
    height: 962px;
    left: 15px;
  }
  
  .despre-noi .membrii-section {
    position: relative;
    width: 1197px;
    height: 3000px;
  }
  
  .despre-noi .membrii-asocia-iei {
    position: absolute;
    width: 626px;
    height: 120px;
    top: -1px;
    left: 3px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .despre-noi .membri {
    position: absolute;
    width: 1197px;
    height: 968px;
    top: 152px;
    left: 0;
  }





/*Tabel*/
  .tabel{
    position: relative;
    top: 190px;
    left: 9px;
  }
  
  .membru-frame {
    padding: 15px 15px;
    position: relative;
    width: 274px;
    height: 468px;
    top: 0;
    left: 3px;
  }
  
  .rectangle {
    position: absolute;
    width: 274px;
    height: 274px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .descriere {
    position: absolute;
    width: 271px;
    height: 174px;
    top: 294px;
    left: 0;
  }
  
  .guma-daria {
    position: absolute;
    height: 45px;
    top: -1px;
    left: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--button-coloraccent);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 45px;
    white-space: nowrap;
  }
  
  .functie{
    position: absolute;
    width: 271px;
    height: 60px;
    top: 40px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--paragraph-color);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .line {
    width: 271px;
    top: 136px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
    background-color: #000000;
  }
  
  .retele {
    position: absolute;
    width: 144px;
    height: 24px;
    top: 150px;
    left: 0;
  }
  
  .IG{
    position: relative;
    top: -2px;
    left: 1px;
  }

  .EM{
    position: relative;
    top: -2px;
    left: 10px;
  }

  .FB{
    position: relative;
    top: -2px;
    left: 22px;
  }

  .TT{
    position: relative;
    top: -2px;
    left: 32px;
  }

  



  .despre-noi .arrow {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    top: 767px;
    left: 516px;
  }
  
  .despre-noi .streamline-interface {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .despre-noi .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: -1px;
    left: 0;
    font-family: var(--footer-name-font-family);
    font-weight: var(--footer-name-font-weight);
    color: #ffffff;
    font-size: var(--footer-name-font-size);
    letter-spacing: var(--footer-name-letter-spacing);
    line-height: var(--footer-name-line-height);
    white-space: nowrap;
    font-style: var(--footer-name-font-style);
  }
  
  .despre-noi .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .despre-noi .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .despre-noi .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .despre-noi .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .despre-noi .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .despre-noi .p {
    position: relative;
    width: 241px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .despre-noi .text-wrapper-11 {
    position: absolute;
    width: 204px;
    top: 105px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .despre-noi .logoait-4 {
    width: 74px;
    height: 88.01px;
    position: relative;
    object-fit: cover;
  }
  
  .despre-noi .asocia-ia-interna-2 {
    position: relative;
    width: 125px;
    height: 38px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1.33px;
    line-height: 12px;
  }
  
  .despre-noi .line-2 {
    width: 1192px;
    top: 377px;
    left: 204px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  

  /*Header*/
  .top {
    position: relative;
    width: 1600px;
    height: 713px;
    background-color: var(--bg-color);
  }
  
  .meniu {
    position: absolute;
    width: 1192px;
    height: 57px;
    top: 40px;
    left: 16px;
  }
  
  .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 17px;
    left: 288px;
  }
  
  .active {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #3265b3;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
    } 
  
    .static a{
      position: relative;
      padding: 8px;
      text-decoration: none;
      width: fit-content;
      margin-top: -1px;
      font-family: var(--meniu-text-font-family);
      font-weight: var(--meniu-text-font-weight);
      color: #000000;
      font-size: var(--meniu-text-font-size);
      letter-spacing: var(--meniu-text-letter-spacing);
      line-height: var(--meniu-text-line-height);
      white-space: nowrap;
      font-style: var(--meniu-text-font-style);
      text-decoration: none;
    }
  
    .static :hover{
      background-color: #5986c9;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    .frame-1 {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      position: absolute;
      top: 19px;
      left: 1117px;
    }
  
    .login{
      position: relative;
      width: 49px;
      margin-top: -0.5px;
      font-family: "Raleway-Medium", Helvetica;
      font-weight: 500;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }
  
    .loginfoto {
      position: relative;
      width: 20px;
      height: 20px;
    }
  
    .search {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 17px;
      left: 1069px;
    }
    
    .logo {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .logoait {
      position: relative;
      width: 46px;
      height: 55px;
      object-fit: cover;
    }
  
    .asociatia-internationala {
      position: relative;
      width: 80px;
      height: 59px;
      top: 18px;
      margin-top: -1px;
      font-family: "League Spartan-Bold", Helvetica;
      font-weight: 700;
      color: var(--h1-color);
      font-size: 8px;
      letter-spacing: 0.72px;
      line-height: 8px;
    }

/*Footer*/
.footer {
  position: relative;
  width: 1600px;
  height: 450px;
  background-color: var(--h1-color);
}

.footer-2 {
  position: absolute;
  width: 1097px;
  height: 310px;
  top: 27px;
  left: 10px;
}

.footer-text {
  position: absolute;
  width: 791px;
  height: 310px;
  top: 0;
  left: 306px;
}

.navigare {
  width: 110px;
  height: 310px;
  top: 0;
  position: absolute;
  left: 0;
}

.titlufooter {
  height: 30px;
  top: -1px;
  font-family: var(--footer-name-font-family);
  font-weight: var(--footer-name-font-weight);
  color: #ffffff;
  font-size: var(--footer-name-font-size);
  letter-spacing: var(--footer-name-letter-spacing);
  line-height: var(--footer-name-line-height);
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: var(--footer-name-font-style);
}

.framenavigare a{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  top: 50px;
  left: 0;

  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
  margin: 5px;
}

.urmrete {
  position: absolute;
  width: 247px;
  height: 218px;
  top: 0;
  left: 205px;
}

.framefollow{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
  left: 0;
}

.img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-6 a{
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  position: relative;
  left: 40px;
  top: -30px;
  width: 93px;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.framecontact{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50px;
  left: 0;

  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
}



.img-3 {
  position: relative;
  left: -2px;
  width: 24px;
  height: 24px;
}

.contact {
  position: absolute;
  width: 281px;
  height: 193px;
  top: 0;
  left: 510px;
}

.textfootercontact {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.logo-slogan {
  width: 204px;
  height: 154px;
  position: absolute;
  top: 0;
  left: 0;
}

.text-wrapper-9 {
  position: absolute;
  width: 204px;
  top: 105px;
  left: 0;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: var(--bg-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.logo-2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.logoait-2 {
  position: relative;
  width: 74px;
  height: 88.01px;
  object-fit: cover;
}

.asocia-ia-interna-3 {
  width: 125px;
  height: 38px;
  font-family: "League Spartan-Bold", Helvetica;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.33px;
  line-height: 12px;
  position: relative;
  font-weight: 700;
}

.line-3 {
  width: 1192px;
  height: 1px;
  background-color: #FFFFFF;
  position: relative;
  top: 345px;
  left: 10px;
}

.toate-drepturile {
  position: absolute;
  height: 21px;
  top: 375px;
  left: 380px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}