body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.despre-noi {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    gap: 120px;
    position: relative;
    background-color: #ffffff;
  }
  
  .despre-noi .hero-section {
    position: relative;
    width: 1191px;
    height: 695px;
    overflow: hidden;
  }
  
  .despre-noi .overlap-group {
    position: absolute;
    width: 1190px;
    height: 563px;
    top: 132px;
    left: 0;
    background-image: url(./img/subtract.svg);
    background-size: 100% 100%;
  }
  
  .despre-noi .logoait {
    position: absolute;
    width: 375px;
    height: 446px;
    top: 58px;
    left: 816px;
    object-fit: cover;
  }
  
  .despre-noi .despre-asocia-ia {
    position: absolute;
    width: 624px;
    height: 120px;
    top: 39px;
    left: 171px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .despre-noi .text-wrapper {
    position: absolute;
    width: 440px;
    height: 243px;
    top: 239px;
    left: 236px;
    font-family: var(--paragraph-font-family);
    font-weight: var(--paragraph-font-weight);
    color: var(--paragraph-color);
    font-size: var(--paragraph-font-size);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    font-style: var(--paragraph-font-style);
  }
  
  .despre-noi .meniu {
    position: absolute;
    width: 1192px;
    height: 57px;
    top: 40px;
    left: -1px;
  }
  
  .despre-noi .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 17px;
    left: 288px;
  }
  
  .despre-noi .div {
    color: var(--paragraph-color);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .despre-noi .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--h1-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .despre-noi .text-wrapper-3 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .despre-noi .frame {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 1117px;
  }
  
  .despre-noi .uiw-login {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .despre-noi .text-wrapper-4 {
    position: relative;
    width: 49px;
    margin-top: -0.5px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .despre-noi .mi-search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 17px;
    left: 1069px;
  }
  
  .despre-noi .logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .despre-noi .img {
    width: 45.5px;
    height: 55px;
    position: relative;
    object-fit: cover;
  }
  
  .despre-noi .asocia-ia-interna {
    position: relative;
    width: 80px;
    height: 59px;
    margin-top: -1px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: var(--h1-color);
    font-size: 8px;
    letter-spacing: 0.72px;
    line-height: 8px;
  }
  
  .despre-noi .galeria-ait {
    position: relative;
    width: 1194px;
    height: 962px;
  }
  
  .despre-noi .membrii-section {
    position: relative;
    width: 1197px;
    height: 1200px;
  }
  
  .despre-noi .membrii-asocia-iei {
    position: absolute;
    width: 626px;
    height: 120px;
    top: -1px;
    left: 3px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .despre-noi .membri {
    position: absolute;
    width: 1197px;
    height: 968px;
    top: 152px;
    left: 0;
  }
  
  .despre-noi .membru-frame {
    position: absolute;
    width: 274px;
    height: 468px;
    top: 0;
    left: 3px;
  }
  
  .despre-noi .rectangle {
    position: absolute;
    width: 274px;
    height: 274px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .despre-noi .descriere {
    position: absolute;
    width: 271px;
    height: 174px;
    top: 294px;
    left: 0;
  }
  
  .despre-noi .guma-daria {
    position: absolute;
    height: 45px;
    top: -1px;
    left: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--button-coloraccent);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 45px;
    white-space: nowrap;
  }
  
  .despre-noi .coordonator-social {
    position: absolute;
    width: 271px;
    height: 60px;
    top: 56px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--paragraph-color);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .despre-noi .line {
    width: 271px;
    top: 136px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .despre-noi .reele-de-socializare {
    position: absolute;
    width: 144px;
    height: 24px;
    top: 150px;
    left: 0;
  }
  
  .despre-noi .membru-frame-2 {
    top: 500px;
    left: 0;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-3 {
    top: 0;
    left: 316px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-4 {
    top: 500px;
    left: 313px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-5 {
    top: 0;
    left: 615px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-6 {
    top: 500px;
    left: 612px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-7 {
    top: 0;
    left: 923px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .membru-frame-8 {
    top: 500px;
    left: 920px;
    position: absolute;
    width: 274px;
    height: 468px;
  }
  
  .despre-noi .arrow {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 1170px;
    left: 516px;
  }
  
  .despre-noi .streamline-interface {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .despre-noi .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .footer {
    position: relative;
    width: 1600px;
    height: 478px;
    background-color: var(--h1-color);
  }
  
  .despre-noi .footer-2 {
    width: 1097px;
    top: 27px;
    position: absolute;
    height: 310px;
  }
  
  .despre-noi .footer-text {
    width: 791px;
    top: 0;
    left: 306px;
    position: absolute;
    height: 310px;
  }
  
  .despre-noi .navigare {
    position: absolute;
    width: 110px;
    height: 310px;
    top: 0;
    left: 0;
  }
  
  .despre-noi .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: -1px;
    left: 0;
    font-family: var(--footer-name-font-family);
    font-weight: var(--footer-name-font-weight);
    color: #ffffff;
    font-size: var(--footer-name-font-size);
    letter-spacing: var(--footer-name-letter-spacing);
    line-height: var(--footer-name-line-height);
    white-space: nowrap;
    font-style: var(--footer-name-font-style);
  }
  
  .despre-noi .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .despre-noi .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .despre-noi .urmrete {
    position: absolute;
    width: 247px;
    height: 218px;
    top: 0;
    left: 205px;
  }
  
  .despre-noi .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .despre-noi .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .despre-noi .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .despre-noi .text-wrapper-9 {
    position: relative;
    width: 93px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .despre-noi .contact {
    position: absolute;
    width: 281px;
    height: 193px;
    top: 0;
    left: 510px;
  }
  
  .despre-noi .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .despre-noi .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .despre-noi .p {
    position: relative;
    width: 241px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .despre-noi .logo-slogan {
    width: 204px;
    height: 154px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .despre-noi .text-wrapper-11 {
    position: absolute;
    width: 204px;
    top: 105px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .despre-noi .logo-2 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .despre-noi .logoait-2 {
    width: 74px;
    height: 88.01px;
    position: relative;
    object-fit: cover;
  }
  
  .despre-noi .asocia-ia-interna-2 {
    position: relative;
    width: 125px;
    height: 38px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1.33px;
    line-height: 12px;
  }
  
  .despre-noi .line-2 {
    width: 1192px;
    top: 377px;
    left: 204px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .despre-noi .toate-drepturile {
    position: absolute;
    height: 21px;
    top: 416px;
    left: 302px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }