.pagina-articole {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
    background-color: #ffffff;
  }
  
  .pagina-articole .meniu-articol {
    position: relative;
    width: 1192px;
    height: 1307px;
    overflow: hidden;
  }
  
  .pagina-articole .articol {
    position: absolute;
    width: 1193px;
    height: 1118px;
    top: 177px;
    left: 0;
  }
  
  .pagina-articole .title-and-photo {
    position: absolute;
    width: 1193px;
    height: 488px;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .teoretic-awareness {
    position: absolute;
    height: 60px;
    top: -1px;
    left: 0;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    white-space: nowrap;
    font-style: var(--h-2-font-style);
  }
  
  .pagina-articole .rectangle {
    width: 376px;
    left: 1px;
    position: absolute;
    height: 376px;
    top: 112px;
    object-fit: cover;
  }
  
  .pagina-articole .img {
    width: 376px;
    left: 409px;
    position: absolute;
    height: 376px;
    top: 112px;
    object-fit: cover;
  }
  
  .pagina-articole .rectangle-2 {
    width: 375px;
    left: 817px;
    position: absolute;
    height: 376px;
    top: 112px;
    object-fit: cover;
  }
  
  .pagina-articole .o-previzualizare-la {
    position: absolute;
    width: 1192px;
    height: 570px;
    top: 547px;
    left: 1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .pagina-articole .meniu {
    position: absolute;
    width: 1192px;
    height: 57px;
    top: 40px;
    left: 0;
  }
  
  .pagina-articole .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 17px;
    left: 288px;
  }
  
  .pagina-articole .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    color: var(--paragraph-color);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .pagina-articole .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--paragraph-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .pagina-articole .text-wrapper-2 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--meniu-text-font-family);
    font-weight: var(--meniu-text-font-weight);
    font-size: var(--meniu-text-font-size);
    letter-spacing: var(--meniu-text-letter-spacing);
    line-height: var(--meniu-text-line-height);
    white-space: nowrap;
    font-style: var(--meniu-text-font-style);
  }
  
  .pagina-articole .text-wrapper-3 {
    color: var(--h1-color);
    text-decoration: underline;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .pagina-articole .frame {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 1117px;
  }
  
  .pagina-articole .uiw-login {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .pagina-articole .text-wrapper-4 {
    position: relative;
    width: 49px;
    margin-top: -0.5px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .pagina-articole .mi-search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 17px;
    left: 1069px;
  }
  
  .pagina-articole .logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .logoait {
    position: relative;
    width: 46px;
    height: 55px;
    object-fit: cover;
  }
  
  .pagina-articole .asocia-ia-interna {
    position: relative;
    width: 80px;
    height: 59px;
    margin-top: -1px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: var(--h1-color);
    font-size: 8px;
    letter-spacing: 0.72px;
    line-height: 8px;
  }
  
  .pagina-articole .evenimente {
    position: relative;
    width: 1192px;
    height: 608px;
  }
  
  .pagina-articole .mai-multe {
    position: absolute;
    top: -1px;
    left: 4px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--h1-color);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    white-space: nowrap;
    font-style: var(--h-2-font-style);
  }
  
  .pagina-articole .frame-2 {
    position: absolute;
    width: 580px;
    height: 434px;
    top: 114px;
    left: 612px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .pagina-articole .img-articol {
    position: absolute;
    width: 274px;
    height: 434px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .pagina-articole .text {
    position: absolute;
    width: 233px;
    top: 41px;
    left: 306px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--paragraph-color);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .pagina-articole .p {
    position: absolute;
    width: 241px;
    top: 135px;
    left: 306px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .pagina-articole .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 28px;
    position: absolute;
    top: 334px;
    left: 306px;
    background-color: var(--h1-color);
    border-radius: 15px;
  }
  
  .pagina-articole .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .pagina-articole .articol-homepage {
    position: absolute;
    width: 580px;
    height: 434px;
    top: 114px;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .pagina-articole .img-articol-2 {
    position: absolute;
    width: 274px;
    height: 434px;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .overlap-group {
    position: absolute;
    width: 233px;
    height: 54px;
    top: 41px;
    left: 306px;
  }
  
  .pagina-articole .text-wrapper-6 {
    position: absolute;
    width: 233px;
    top: 0;
    left: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--paragraph-color);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .pagina-articole .arrow {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 578px;
    left: 513px;
  }
  
  .pagina-articole .streamline-interface {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .pagina-articole .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .pagina-articole .footer {
    position: relative;
    width: 1600px;
    height: 478px;
    background-color: var(--h1-color);
  }
  
  .pagina-articole .footer-2 {
    width: 1097px;
    top: 27px;
    left: 204px;
    position: absolute;
    height: 310px;
  }
  
  .pagina-articole .footer-text {
    width: 791px;
    top: 0;
    left: 306px;
    position: absolute;
    height: 310px;
  }
  
  .pagina-articole .navigare {
    position: absolute;
    width: 110px;
    height: 310px;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .text-wrapper-8 {
    position: absolute;
    height: 30px;
    top: -1px;
    left: 0;
    font-family: var(--footer-name-font-family);
    font-weight: var(--footer-name-font-weight);
    color: #ffffff;
    font-size: var(--footer-name-font-size);
    letter-spacing: var(--footer-name-letter-spacing);
    line-height: var(--footer-name-line-height);
    white-space: nowrap;
    font-style: var(--footer-name-font-style);
  }
  
  .pagina-articole .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .pagina-articole .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .pagina-articole .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .pagina-articole .urmrete {
    position: absolute;
    width: 247px;
    height: 218px;
    top: 0;
    left: 205px;
  }
  
  .pagina-articole .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .pagina-articole .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .pagina-articole .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .pagina-articole .text-wrapper-11 {
    position: relative;
    width: 93px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .pagina-articole .contact {
    position: absolute;
    width: 281px;
    height: 193px;
    top: 0;
    left: 510px;
  }
  
  .pagina-articole .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .pagina-articole .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .pagina-articole .text-wrapper-13 {
    position: relative;
    width: 241px;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .pagina-articole .logo-slogan {
    width: 204px;
    height: 154px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .text-wrapper-14 {
    position: absolute;
    width: 204px;
    top: 105px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .pagina-articole .logo-2 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .pagina-articole .logoait-2 {
    position: relative;
    width: 74px;
    height: 88.01px;
    object-fit: cover;
  }
  
  .pagina-articole .asocia-ia-interna-2 {
    position: relative;
    width: 125px;
    height: 38px;
    font-family: "League Spartan-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1.33px;
    line-height: 12px;
  }
  
  .pagina-articole .line {
    position: absolute;
    width: 1192px;
    height: 1px;
    top: 377px;
    left: 204px;
    object-fit: cover;
  }
  
  .pagina-articole .toate-drepturile {
    position: absolute;
    height: 21px;
    top: 416px;
    left: 563px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  