body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*@media only screen and (max-width: 1200px) {
.foto2{ 
  display: none;
}

.foto4{ 
  display: none;
}

.mobile a.icon {
  background: rgba(50, 101, 179, 1);
  display: block;
  width: 5vw;
  height: 6vw;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 6vw;
  padding-bottom: 6vw;
  font-size: 9vw;
  border-radius: 0 0 0 30%;
}

.mobile .linkuri #myLinks {
  position: fixed;
  display: none;
  background-color: #E3EFFE;
  font-family: "Raleway-Medium", Helvetica;
  width: 84vw;
  height: 14vw;
  border-radius: 0 0 30% 0;
  font-size: 5vw;
}

.navcomp {
  display: none;
}

.mobile a{
  color:#3265B3 ;
  text-decoration: none;
  position: relative;
}
}*/



/*@media only screen and (min-width: 1200px) {*/
.meniu #myLinks {
  display: none;
}

.topbar{
  position: absolute;
  left: 0;
  top: -7vw;
  width: 100vw;
  text-align: center;
  table-layout: fixed;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  position: relative;
  background-color: #ffffff;
}

.valori {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 27px;
  letter-spacing: 0;
  line-height: 40.5px;
  white-space: nowrap;
}

.previzualizare {
  position: absolute;
  width: 241px;
  top: 135px;
  left: 306px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.titprevizualizare {
  position: absolute;
  width: 233px;
  top: 0;
  left: 0;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.numerotare {
  position: absolute;
  top: 75px;
  left: 1044px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.cantitate {
  position: relative;
  width: fit-content;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
  white-space: nowrap;
}

.stats {
  position: relative;
  width: fit-content;
  margin-top: -10px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 39px;
  white-space: nowrap;
}

.ghilim {
  position: absolute;
  width: 170px;
  height: 100px;
  top: -477px;
  left: 532px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: #3265b399;
  font-size: 400px;
  letter-spacing: 0;
  line-height: 600px;
}

.submitxt {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

.valori1 {
  display: inline-flex;
  gap: 80px;
  position: absolute;
  top: 168px;
  left: 276px;
}

.chenare {
  position: relative;
  width: 580px;
  height: 434px;
  top: 114px;
  left: -5px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.dreptunghi {
  position: relative;
  width: 1122px;
  height: 100px;
  top: 128px;
  left: 34px;
}

.submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 40px;
  position: absolute;
  top: 391px;
  left: 356px;
  background-color: rgba(197, 38, 176, 1);;
  border-radius: 0px 16px 16px 16px;
  border: none;
  cursor: pointer;
}

.begin {
  position: absolute;
  width: 100vw;
  height: 45vw;
  top: 12vw;
  left: 1vw;
}

.poze {
  position: absolute;
  width: 100vw;
  height: 45vw;
  top: 0;
  left: 0;
}

.foto1 {
  position: absolute;
  width: 30.355vw;
  top: 0;
  left: 66vw;
  object-fit: cover;
}

.foto2 {
  position: absolute;
  width: 30.355vw;
  top: 25.2vw;
  left: 0;
  object-fit: cover;
}

.foto3 {
  position: absolute;
  width: 30.355vw;
  top: 10.2vw;
  left: 33vw;
  object-fit: cover;
}

.foto4 {
  position: absolute;
  width: 30.355vw;
  top: 22.8vw;
  left: 66vw;
  object-fit: cover;
}

.denumirea {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
  position: absolute;
  top: 0;
  left: 0;
}

.titlu {
  width: 66vw;
  margin-top: -1px;
  font-family: "Raleway-Bold", Helvetica;
  color: rgba(50, 101, 179, 1);
  font-size: 4vw;
  line-height: 6vw;
  position: relative;
  font-weight: 700;
}

.moto {
  position: relative;
  width: 30vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 2vw;
  letter-spacing: 0;
  line-height: 3vw;
}

.gradient1{
  background-image: radial-gradient(closest-side, rgba(197,38,176,0.4), rgba(197,38,176,0));
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 609px;
  left: -192px;
}

.gradient2{
  background-image: radial-gradient(closest-side, rgba(197,38,176,0.4), rgba(197,38,176,0));
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1646px;
  left: 1095px;
}

.valorile {
  position: relative;
  width: 1600px;
  height: 241px;
}

.network {
  position: absolute;
  width: 211px;
  height: 210px;
  top: -42px;
  left: 1185px;
  object-fit: cover;
}

.linie {
  position: relative;
  width: 1203px;
  height: 30px;
  left: 203px;
  top: 215px;
}

.linie1 {
  width: 1192px;
  height: 2px;
  background-color: #3265B3;
  position: relative;
  top: 26px;
}

.linie2 {
  width: 516px;
  height: 3px;
  background-color: #3265B3;
  position: relative;
  top: 46px;
  left: 307px;
}

.punct1 {
  width: 11px;
  height: 11px;
  background-color: #3265B3;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: -7px;
}

.punct2 {
  width: 11px;
  height: 11px;
  background-color: #3265B3;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 1187px;
}

.ellipse {
  width: 50px;
  height: 25px;
  position: relative;
  top: -91px;
  display: inline-block;
  margin: 90px;
  background-color: #C526B0;
  border-radius: 10rem 10rem 0 0;
}

.valoriletxt {
  position: absolute;
  width: 610px;
  top: -50px;
  left: 207px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 40px;
  line-height: 150%;
  font-style: normal;
}

.evenimente {
  position: relative;
  width: 1192px;
  height: 608px;
}

.evenimentetxt {
  position: absolute;
  top: -1px;
  left: 4px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 40px;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.imagineart {
  position: absolute;
  width: 274px;
  height: 434px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.articol {
  transition-duration: 0.4s;
  border-radius: 15px;
  background-color: #3265B3;
  color: white;
  border: 0px;
  width: 164px;
  height: 41px;
  position: relative;
  left: 40px;
  top: 35px;
}

.articol:hover{
  cursor:pointer;
  border: 2px solid #3265B3;
  background-color: white;
  color: #000000;
}
  
.contentart {
  position: absolute;
  width: 233px;
  height: 54px;
  top: 41px;
  left: 306px;
}
.proiectestats {
  position: relative;
  width: 1192px;
  height: 278px;
}
.categorie {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  margin: 50px;
  position: relative;
  top: -60px;
  left: -50px;
  background-color: rgba(50, 101, 179, 1);
  border-radius: 15px;
}

.proiectetxt {
  position: absolute;
  width: 614px;
  top: -100px;
  left: 10px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 40px;
  line-height: 150%;
  font-style: normal;
}

.testemoniale {
  position: relative;
  width: 1600px;
  height: 676px;
  background-color: rgba(227, 239, 254, 1);
  top: 0px;
  left: 10px;
}

.fotca {
  border-radius: 60px;
  object-fit: cover;
  object-position: 0 20%;
  position: relative;
  width: 478px;
  height: 478px;
  top: 130px;
  left: -20px;
}

.pareri {
  position: absolute;
  width: 478px;
  top: -5px;
  left: 205px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 40px;
  line-height: 150%;
  font-style: normal;
}

.contentpareri {
  position: relative;
  width: 344px;
  height: 607px;
  top: -1px;
  left: -40px;
}

.fotopareri {
  position: relative;
  width: 200px;
  height: 235.18px;
  top: -108px;
  left: 359px;
}

.textpareri {
  position: absolute;
  width: 545px;
  height: 270px;
  top: 214px;
  left: 598px;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
}

.persoana {
  position: absolute;
  height: 30px;
  top: 545px;
  left: 612px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: #c526b0;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.functie {
  position: absolute;
  height: 24px;
  top: 573px;
  left: 612px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(7, 15, 28, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.sageatastanga {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 72px;
  left: 1017px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.sageatadreapta {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 72px;
  left: 1078px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.newsletterfooter {
  position: relative;
  width: 1600px;
  height: 1204px;
}

.newsletter {
  position: absolute;
  z-index: 1;
  width: 1600px;
  height: 633px;
  top: 0px;
  left: 0px;
}

.fotonews {
  position: absolute;
  width: 1600px;
  height: 400px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.chestionar {
  position: absolute;
  width: 900px;
  height: 433px;
  top: 200px;
  left: 350px;
}

.fundalnews {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: rgba(227, 239, 254, 1);
  border-radius: 0px 80px 80px 80px;
}

.submitarrow {
  position: relative;
  width: 28px;
  height: 28px;
}

/*text formular*/
.form{
  position: relative;
  top: -27px;
}

.textform {
  margin-left: 35px;
  color: #818893;
  position: relative;
  left: 108px;
  top: 104px;
  width: 298px;
  height: 59px;
  border: 1px solid;
  border-radius: 20px 20px 0px 0px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.titluform{
  margin-top: -1px;
  color: #000000;
  position: relative;
  left: 144px;
  top: 125px;
  width: 298px;
  height: 59px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.formtitlu {
  position: absolute;
  width: 325px;
  height: 38px;
  top: 31px;
  left: 288px;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: rgba(7, 15, 28, 1);
  font-size: 25px;
  letter-spacing: 0;
  line-height: 37.5px;
}

/*Slide*/
* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  left: 225px;
  top: 60px;
}

.mySlides{
  display:none;
}

.sageatastanga:hover, .sageatadreapta:hover {
  background-color: #5986c9;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Header*/
.top {
  position: relative;
  width: 100vw;
  height: 58vw;
  background-color: rgba(227, 239, 254, 1);
}

.meniu {
  position: absolute;
  width: 100vw;
  top: 0;
  left:0;
}

.navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 36px;
  position: absolute;
  top: 3vw;
  left: 0;
}

.active {
  position: relative;
  width: fit-content;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #3265b3;
  font-size: 1.5vw;
  white-space: nowrap;
  text-align: center;
  padding: 1vw;
  left: 3vw;
}

.static a{
  position: relative;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 1.5vw;
  padding: 1vw;
  white-space: nowrap;
  font-style: normal;
  text-decoration: none;
}

.static :hover{
  background-color: #5986c9;
  border-radius: 0.5vw;
  transition: 0.3s ease;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logoait1 {
  position: relative;
  width: 4.1vw;
  height: 4.9vw;
  object-fit: cover;
}

.titluindex {
  position: relative;
  width: 5vw;
  height: 16vw;
  top: 7vw;
  text-align: left;
  margin-top: -1px;
  font-family: "League Spartan-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 0.7vw;
  letter-spacing: 0.01vw;
  line-height: 0.7vw;
}

.search{
  width: 2vw;
  height: 8vw;
}

/*Footer*/
.footer {
  position: absolute;
  width: 1600px;
  height: 901px;
  top: 303px;
  left: 0;
  background-color: rgba(50, 101, 179, 1);
}

.footer1 {
  position: absolute;
  width: 1097px;
  height: 310px;
  top: 450px;
  left: 204px;
}

.footercontent {
  position: absolute;
  width: 791px;
  height: 310px;
  top: 0;
  left: 306px;
}

.navigare {
  width: 110px;
  height: 310px;
  top: 0;
  position: absolute;
  left: 0;
}

.titlufooter {
  height: 30px;
  top: -1px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 150%;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-style: normal;
}

.framenavigare a{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  top: 50px;
  left: 0;
  position: relative;
  width: fit-content;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
  margin: 5px;
}

.follow {
  position: absolute;
  width: 247px;
  height: 218px;
  top: 0;
  left: 205px;
}

.followcontent{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
  left: 0;
}

.followimg {
  position: relative;
  width: 24px;
  height: 24px;
}

.framefollow a{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  left: 40px;
  top: -30px;
  width: 93px;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
}

.framecontact{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50px;
  left: 0;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-decoration: none;
}

.contact {
  position: absolute;
  width: 281px;
  height: 193px;
  top: 0;
  left: 510px;
}

.contactxt {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.slogan {
  width: 204px;
  height: 154px;
  position: absolute;
  top: 0;
  left: 0;
}

.sloganxt {
  position: absolute;
  width: 204px;
  top: 105px;
  left: 0;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(227, 239, 254, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.logo2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo3 {
  position: relative;
  width: 74px;
  height: 88.01px;
  object-fit: cover;
}

.aititlufoot {
  width: 125px;
  height: 38px;
  font-family: "League Spartan-Bold", Helvetica;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.33px;
  line-height: 12px;
  position: relative;
  font-weight: 700;
}

.linie3 {
  width: 1192px;
  height: 1px;
  background-color: #FFFFFF;
  position: relative;
  top: 807px;
  left: 203px;
}

.disclaimer {
  position: absolute;
  height: 21px;
  top: 839px;
  left: 563px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.harta{
  position: absolute;
  width: 28px;
  left: -2px;
  top: 137px;
}
.mobile a.icon{display: none;}
/*}*/

/*Desprenoi*/
/*Contact*/
/*Documente*/
/*Evenimente*/
/*Proiecte*/
/*Transparenta*/