:root {
    --h1-color: rgba(50, 101, 179, 1);
    --paragraph-color: rgba(7, 15, 28, 1);
    --bg-color: rgba(227, 239, 254, 1);
    --button-coloraccent: rgba(197, 38, 176, 1);
    --meniu-text-font-family: "Raleway-Medium", Helvetica;
    --meniu-text-font-weight: 500;
    --meniu-text-font-size: 16px;
    --meniu-text-letter-spacing: 0px;
    --meniu-text-line-height: 150%;
    --meniu-text-font-style: normal;
    --h-1-font-family: "Raleway-Bold", Helvetica;
    --h-1-font-weight: 700;
    --h-1-font-size: 45px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: normal;
    --h-1-font-style: normal;
    --paragraph-font-family: "Raleway-Medium", Helvetica;
    --paragraph-font-weight: 500;
    --paragraph-font-size: 18px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: 150%;
    --paragraph-font-style: normal;
    --h-2-font-family: "Raleway-Bold", Helvetica;
    --h-2-font-weight: 700;
    --h-2-font-size: 40px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 150%;
    --h-2-font-style: normal;
    --testemonial-font-family: "Raleway-Medium", Helvetica;
    --testemonial-font-weight: 500;
    --testemonial-font-size: 36px;
    --testemonial-letter-spacing: 0px;
    --testemonial-line-height: 150%;
    --testemonial-font-style: normal;
    --h-3-font-family: "Raleway-SemiBold", Helvetica;
    --h-3-font-weight: 600;
    --h-3-font-size: 25px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 150%;
    --h-3-font-style: normal;
    --footer-name-font-family: "Raleway-Medium", Helvetica;
    --footer-name-font-weight: 500;
    --footer-name-font-size: 20px;
    --footer-name-letter-spacing: 0px;
    --footer-name-line-height: 150%;
    --footer-name-font-style: normal;
    --h-4-font-family: "Raleway-SemiBold", Helvetica;
    --h-4-font-weight: 600;
    --h-4-font-size: 25px;
    --h-4-letter-spacing: 0px;
    --h-4-line-height: 150%;
    --h-4-font-style: normal;
  }