body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*@media only screen and (max-width: 1200px) {
.foto2{ 
  display: none;
}

.foto4{ 
  display: none;
}

.mobile a.icon {
  background: rgba(50, 101, 179, 1);
  display: block;
  width: 5vw;
  height: 6vw;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 6vw;
  padding-bottom: 6vw;
  font-size: 9vw;
  border-radius: 0 0 0 30%;
}

.mobile .linkuri #myLinks {
  position: fixed;
  display: none;
  background-color: #E3EFFE;
  font-family: "Raleway-Medium", Helvetica;
  width: 84vw;
  height: 14vw;
  border-radius: 0 0 30% 0;
  font-size: 5vw;
}

.navcomp {
  display: none;
}

.mobile a{
  color:#3265B3 ;
  text-decoration: none;
  position: relative;
}
}*/



/*@media only screen and (min-width: 1200px) {*/
.meniu #myLinks {
  display: none;
}

.topbar{
  position: absolute;
  left: 0;
  top: -4vw;
  width: 100vw;
  text-align: center;
  table-layout: fixed;
}

.index {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  position: relative;
  background-color: #ffffff;
}

.valori1 {
  display: inline-flex;
  align-content: center;
  gap: 7vw;
  position: absolute;
  top: 17vw;
  left: 8vw;
}

.valori {
  position: relative;
  width: fit-content;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 2vw;
  letter-spacing: 0;
  white-space: nowrap;
}

.ellipse {
  left: 30%;
  width: 4vw;
  height: 2vw;
  position: relative;
  background-color: #C526B0;
  border-radius: 10rem 10rem 0 0;
}

.previzualizare {
  position: absolute;
  width: 20vw;
  top: 10vw;
  left: 25vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 1.3vw;
  letter-spacing: 0;
  line-height: 1.6vw;
}

.titprevizualizare {
  position: absolute;
  width: 15vw;
  top: 1vw;
  left: 25vw;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 1.5vw;
  line-height: 1.5vw;
}

.numerotare {
  position: absolute;
  top: 6.4vw;
  left: 84.3vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 1.6vw;
  letter-spacing: 0;
  white-space: nowrap;
}

.cantitate {
  position: relative;
  width: fit-content;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 2.2vw;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
}

.submitxt {
  position: relative;
  width: fit-content;
  margin-top: -0.1vw;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.8vw;
  white-space: nowrap;
}

.chenare {
  position: relative;
  width: 48vw;
  height: 35vw;
  top: 7vw;
  left: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  overflow: hidden;
  border: 0.01vw solid;
  border-color: #000000;
}

.dreptunghi {
  position: relative;
  width: 91vw;
  height: 8vw;
  top: 11vw;
  left: 2.8vw;
}

.begin {
  position: absolute;
  width: 100vw;
  height: 45vw;
  top: 12vw;
  left: 1vw;
}

.poze {
  position: absolute;
  width: 100vw;
  height: 45vw;
  top: 0;
  left: 0;
}

.foto1 {
  position: absolute;
  width: 30.355vw;
  top: 0;
  left: 66vw;
  object-fit: cover;
}

.foto2 {
  position: absolute;
  width: 30.355vw;
  top: 25.2vw;
  left: 0;
  object-fit: cover;
}

.foto3 {
  position: absolute;
  width: 30.355vw;
  top: 10.2vw;
  left: 33vw;
  object-fit: cover;
}

.foto4 {
  position: absolute;
  width: 30.355vw;
  top: 22.8vw;
  left: 66vw;
  object-fit: cover;
}

.denumirea {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
  position: absolute;
  top: 0;
  left: 0;
}

.titlu {
  width: 66vw;
  margin-top: -1px;
  font-family: "Raleway-Bold", Helvetica;
  color: rgba(50, 101, 179, 1);
  font-size: 4vw;
  line-height: 6vw;
  position: relative;
  font-weight: 700;
}

.moto {
  position: relative;
  width: 30vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 2vw;
  letter-spacing: 0;
  line-height: 3vw;
}

.gradient1{
  background-image: radial-gradient(closest-side, rgba(197,38,176,0.4), rgba(197,38,176,0));
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 45vw;
  left: -15vw;
}

.gradient2{
  background-image: radial-gradient(closest-side, rgba(197,38,176,0.4), rgba(197,38,176,0));
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 133vw;
  left: 84vw;
}

.valorile {
  position: relative;
  width: 100vw;
  height: 25vw;
}

.network {
  position: absolute;
  width: 17vw;
  top: -1vw;
  left: 80vw;
  object-fit: cover;
}

.linie {
  position: relative;
  width: 100vw;
  top: 17.3vw;
}

.linie1 {
  width: 96vw;
  height: 0.2vw;
  background-color: #3265B3;
  position: relative;
  left: 1vw;
  top: 4vw;
}

.linie2 {
  width: 50vw;
  height: 0.25vw;
  background-color: #3265B3;
  position: absolute;
  left: 22vw;
  margin-top: 3vw;
}

.punct1 {
  width: 1vw;
  height: 1vw;
  background-color: #3265B3;
  border-radius: 50%;
  position: absolute;
  top: 3.6vw;
  left: 1vw;
}

.punct2 {
  width: 1vw;
  height: 1vw;
  background-color: #3265B3;
  border-radius: 50%;
  position: absolute;
  top: 3.6vw;
  left: 97vw;
}

.valoriletxt {
  position: absolute;
  left: 1vw;
  width: 50vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 3vw;
  font-style: normal;
}

.evenimente {
  position: relative;
  width: 100vw;
  height: 50vw;
}

.evenimentetxt {
  position: absolute;
  left: 1vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 4vw;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.imagineart {
  position: absolute;
  width: 22.1vw;
  height: 34.9vw;
  top: 0;
  left: 0;
  object-fit: cover;
}

.articol {
  transition-duration: 0.4s;
  border-radius: 1vw;
  background-color: #3265B3;
  color: white;
  border: 0px;
  width: 13.3vw;
  height: 3.3vw;
  position: absolute;
  left: 28vw;
  bottom: 2vw;
}

.articol:hover{
  cursor:pointer;
  border: 0.02vw solid #3265B3;
  background-color: white;
  color: #000000;
}

.acces {
  font-size: 1vw;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.proiectestats {
  position: relative;
  width: 100vw;
  height: 20vw;
}
.categorie {
  display: flex;
  flex-direction: column;
  width: 24.7vw;
  height: 8.1vw;
  align-items: center;
  justify-content: center;
  padding: 1vw 2.5vw;
  margin: 0 4vw 0 2vw;
  position: relative;
  top: -1vw;
  background-color: rgba(50, 101, 179, 1);
  border-radius: 1vw;
}

.proiectetxt {
  position: absolute;
  width: 60vw;
  top: -8vw;
  left: 1vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 3.3vw;
  font-style: normal;
}

.testimoniale {
  position: relative;
  width: 100vw;
  height: 54.5vw;
  background-color: rgba(227, 239, 254, 1);
}

.fotca {
  border-radius: 5vw;
  object-fit: cover;
  object-position: 0 20%;
  position: relative;
  width: 38.6vw;
  height: 38.6vw;
  top: 10.5vw;
}

.pareri {
  position: absolute;
  width: 38.5vw;
  top: -0.3vw;
  left: 1vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 3vw;
  font-style: normal;
}

.contentpareri {
  position: absolute;
  width: 30vw;
  height: 44vw;
  left: 28vw;
  bottom: -10vw;
}

.ghilim {
  position: absolute;
  width: 14vw;
  height: 8vw;
  left: 11vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: #3265b399;
  font-size: 32.1vw;
  letter-spacing: 0;
}

.fotopareri {
  position: relative;
  width: 16vw;
  height: 19vw;
  top: 25.4vw;
}

.textpareri {
  position: absolute;
  width: 44vw;
  height: 26vw;
  top: 17.2vw;
  left: 48.3vw;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 500;
  color: rgba(7, 15, 28, 1);
  font-size: 2.4vw;
  line-height: 3.3vw;
}

.persoana {
  position: absolute;
  height: 2vw;
  top: 44.4vw;
  left: 49vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: #c526b0;
  font-size: 1.5vw;
  white-space: nowrap;
}

.functie {
  position: absolute;
  height: 2vw;
  width: 43vw;
  top: 46.2vw;
  left: 49vw;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: rgba(7, 15, 28, 1);
  font-size: 1.3vw;
}

.sageatastanga {
  cursor: pointer;
  position: absolute;
  padding: 0.4vw;
  top: 5.8vw;
  left: 82.1vw;
  height: 3.3vw;
  width: 2vw;
  transition: 0.6s ease;
  border-radius: 0.5vw;
  user-select: none;
}

.sageatadreapta {
  cursor: pointer;
  position: absolute;
  padding: 0.4vw;
  top: 5.8vw;
  left: 87vw;
  height: 3.3vw;
  width: 2vw;
  transition: 0.6s ease;
  border-radius: 0.5vw;
  user-select: none;
}
.ss{
  height: 2.5vw;
  position: absolute;
}

.sd{
  height: 2.5vw;
  position: absolute;
}

.newsletterfooter {
  position: relative;
  width: 100vw;
  height: 92vw;
}

.newsletter {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 51vw;
}

.fotonews {
  position: absolute;
  width: 100vw;
  height: 32vw;
  object-fit: cover;
}

.chestionar {
  position: absolute;
  width: 72.6vw;
  height: 35vw;
  top: 16.2vw;
  left: 13vw;
}

.fundalnews {
  position: absolute;
  width: 72.6vw;
  height: 32vw;
  background-color: rgba(227, 239, 254, 1);
  border-radius: 0 6vw 6vw 6vw;
}

.submitarrow {
  position: relative;
  width: 2vw;
  height: 2vw;
}

/*text formular*/
.form{
  position: relative;
  top: 6vw;
  left: 7vw;
}

.form table tr{
  height: 10vw;
}

.textform {
  margin-left: 2.8vw;
  color: #818893;
  position: relative;
  width: 24.1vw;
  height: 4.8vw;
  border: 0.01vw solid;
  border-radius: 1.5vw 1.5vw 0 0;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.titluform{
  margin-left: 2.8vw;
  color: #000000;
  position: relative;
  width: 24vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 150%;
  white-space: nowrap;
  font-style: normal;
}

.formtitlu {
  position: absolute;
  width: 22vw;
  top: 3vw;
  left: 23.26vw;
  font-family: "Raleway-SemiBold", Helvetica;
  font-weight: 600;
  color: rgba(7, 15, 28, 1);
  font-size: 2vw;
}

.submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  padding: 1.2vw 3vw;
  position: absolute;
  top: 23.7vw;
  left: 22vw;
  background-color: rgba(197, 38, 176, 1);;
  border-radius: 0 1.5vw 1.5vw 1.5vw;
  border: none;
  cursor: pointer;
}
/*Slide*/
* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  left: 1vw;
  top: 5vw;
}

.mySlides{
  display:none;
}

.sageatastanga:hover, .sageatadreapta:hover {
  background-color: #5986c9;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Header*/
.top {
  position: relative;
  width: 100vw;
  height: 58vw;
  background-color: rgba(227, 239, 254, 1);
}

.meniu {
  position: absolute;
  width: 100vw;
  top: 0;
  left:0;
}

.navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 36px;
  position: absolute;
  top: 3vw;
  left: 0;
}

.active {
  position: relative;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #3265b3;
  font-size: 1.5vw;
  padding: 1vw;
  white-space: nowrap;
  vertical-align: middle;
}

.static{
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  font-size: 1.5vw;
  white-space: nowrap;
}

.static a{
  vertical-align: middle;
  text-decoration: none;
  padding: 1vw;
  color: #000000;
}

.static :hover{
  background-color: #5986c9;
  border-radius: 0.5vw;
  transition: 0.3s ease;
}

.logo {
  display: inline-flex;
  align-items: center;
  height: 10vw;
}

.logoait1 {
  position: relative;
  width: 4.1vw;
  height: 4.9vw;
  object-fit: cover;
}

.titluindex {
  position: relative;
  width: 5vw;
  height: 16vw;
  top: 7vw;
  text-align: left;
  margin-top: -1px;
  font-family: "League Spartan-Bold", Helvetica;
  font-weight: 700;
  color: rgba(50, 101, 179, 1);
  font-size: 0.7vw;
  letter-spacing: 0.01vw;
  line-height: 0.7vw;
}

.search{
  width: 2vw;
  height: 8vw;
}

/*Footer*/
.footer {
  position: absolute;
  width: 100vw;
  height: 73vw;
  top: 19vw;
  background-color: rgba(50, 101, 179, 1);
}

.footer1 {
  position: absolute;
  width: 100vw;
  top: 38vw;
  left: 1vw;
}

.footercontent {
  position: absolute;
  width: 72vw;
  height: 23vw;
  left: 23vw;
}

.navigare {
  width: 11vw;
  height: 23vw;
  position: absolute;
}

.titlufooter {
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.7vw;
  line-height: 150%;
  white-space: nowrap;
  position: absolute;
  font-style: normal;
}

.framenavigare a{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 3vw;
  position: relative;
  width: fit-content;
  height: 3.6vw;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.6vw;
  line-height: 2vw;
  text-decoration: none;
}

.follow {
  position: absolute;
  width: 21vw;
  height: 19vw;
  left: 16vw;
}

.followcontent{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 4vw;
}

.followimg {
  position: relative;
  width: 2vw;
  height: 2vw;
}

.framefollow a{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  left: 3vw;
  top: -2.3vw;
  width: 9vw;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.6vw;
}

.framecontact{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 4vw;
  position: relative;
  width: fit-content;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.6vw;
  white-space: nowrap;
  text-decoration: none;
}

.contact {
  position: absolute;
  width: 30vw;
  height: 20vw;
  left: 41vw;
}

.contactxt {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.slogan {
  width: 16.3vw;
  height: 14vw;
  position: absolute;
}

.sloganxt {
  position: absolute;
  width: 17vw;
  top: 8vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: rgba(227, 239, 254, 1);
  font-size: 1.3vw;
}

.logo2 {
  display: inline-flex;
  align-items: center;
  gap: 0.4vw;
  position: absolute;
}

.logo3 {
  position: relative;
  width: 6vw;
  object-fit: cover;
}

.aititlufoot {
  width: 10vw;
  font-family: "League Spartan-Bold", Helvetica;
  color: #ffffff;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  line-height: 1vw;
  position: relative;
  font-weight: 700;
}

.linie3 {
  width: 97vw;
  height: 0.01vw;
  background-color: #FFFFFF;
  position: relative;
  top: 66vw;
  left: 1vw;
}

.disclaimer {
  position: absolute;
  top: 67vw;
  left: 30vw;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.2vw;
  white-space: nowrap;
}

.harta{
  position: absolute;
  width: 2.4vw;
  left: -0.2vw;
  top: 11vw;
}
.mobile a.icon{display: none;}
/*}*/

/*Desprenoi*/
/*Contact*/
/*Documente*/
/*Evenimente*/
/*Proiecte*/
/*Transparenta*/