body{
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family:'poppins',sans-serif;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  width: 4000px;
}
.tabs label{
  order: 1;
  display: block;
  padding: 10px 15px;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: yellow;
  font-weight: bold;
  transition: background ease 0.3s;
}
.tabs .tab{
  order: 99;
  flex-grow: 1;
  width: 100%;
  height: 280px;
  display: none;
  padding: 1rem;
  background-color: #fff;            
}
.tabs input[type='radio']{
  display: none;
}
.tabs input[type='radio']:checked+label{
  background-color: #fff;
}
.tabs input[type='radio']:checked+label+.tab{
  display: block;        }




  